{% extends 'base.html' %}

{% block content %}

  <br>
  <h1 style="margin-left: 50px;">&#127968; 블로그 홈</h1>
  <div class="container">
    <div class="container_body">
      <div class="home_image">
        <img src="/static/img/hello.gif" style="width:300px; height:300px;">
      </div>
      <div style="margin-bottom: 30px;">
        <h2 style="font-weight:bold;"> Welcome ! </h2>
        <br>
        {% if user.is_authenticated %}
        <!-- 인증된 유저 판별 가능 -->
        <h4 style="color:#757575">안녕하세요 {{user.nickname}} 님 &#128075;</h4>
        {% endif %}
      </div>

      <hr>
      <div class="info" style="margin:40px;">
        <h2>On this blog, we can</h2>
      </div>
      <div class="text_box" style="margin-bottom:50px;">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-3">
            <h3 style="font-weight:bold;">&#9997; Create</h3>
            <p>create or add new posts</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h3 style="font-weight:bold;">&#128209; Read</h3>
            <p>read, retrieve, search, <br>or view existing posts</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h3 style="font-weight:bold;">&#10024; Update</h3>
            <p>update or edit existing posts</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h3 style="font-weight:bold;">&#10060; Delete</h3>
            <p>delete, deactivate, <br>or remove existing posts</p>
          </div><!-- /.col-lg-4 -->
        </div>

      </div>

    </div>
  </div>

{% endblock %}