{% extends 'base.html' %}

{% block content %}
  <br>
  <h1 style="margin-left: 50px;">&#128221; 작성된 글 목록</h1>




  <div class="container">

    <table class="table table-hover" style="padding:10px 5px;">
      <thead class="thead-light">
        <tr class="text-center" style="border-bottom:solid gray;">
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for blog in postlists.all %}
        <tr class="text-center" style="border-bottom:1px solid black;">
          <th scope="row">
            <span>{{forloop.counter}}</span>
          </th>
          <th scope="row">
            <a href="{% url 'detail' blog.id %}" style="text-decoration: none; color:black;">
              <span>{{blog.title}}</span>
            </a>
          </th>
          <th scope="row">
            <span>{{blog.writer}}</span>
          </th>
          <th scope="row">
            <span>{{blog.pub_date}}</span>
          </th>
        </tr>
      </tbody>
      
      {% endfor %}
    </table>

    <button class="btn btn-dark" type="submit" style=" border-color:white; margin:5px;">
      <a href="?search=true&writer={{user.nickname}}" style="text-decoration: none; color:white;">내가 쓴 글</a>
  </button>

    <!-- {% if postlists.has_previous %}
    <a href="?page=1"> 처음 </a>
    <a href="?page={{postlists.previous_page_number}}"> 이전 </a>
    {% endif %}

    <span>{{postlists.number}}</span>
    <span> of </span>
    <span>{{postlists.paginator.num_pages}}</span>

    {% if postlists.has_next %}
    <a href="?page={{postlists.next_page_number}}"> 다음 </a>
    <a href="?page={{postlists.paginator.num_pages}}"> 마지막 </a>
    {% endif %} -->
    
{% endblock %}