{% extends 'base.html' %}

{% block content %}
  <br>
  <h1 style="margin-left: 50px;">&#128221; 작성된 글 목록</h1>




  <div class="container">

    <table class="table table-hover" style="padding:10px 5px;">
      <thead class="thead-light">
        <tr class="text-center" style="border-bottom:solid gray;">
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for blog in postlists.all %}
        <tr class="text-center" style="border-bottom:1px solid black;">
          <th scope="row">
            <span>{{blog.id}}</span>
          </th>
          <th scope="row">
            <a href="{% url 'detail' blog.id %}">
              <span>{{blog.title}}</span>
            </a>
          </th>
          <th scope="row">
            <span>{{blog.writer}}</span>
          </th>
          <th scope="row">
            <span>{{blog.pub_date}}</span>
          </th>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    
{% endblock %}